<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <nav>Barra de direcciones</nav>
</head>
<body>
<a href="{% url 'core:home' %}">Home</a>
<a href="{% url 'core:new_user' %}">Nuevo Usuario</a>
<a href="{% url 'core:new_student' %}">Nuevo Estudiante</a>
<a href="{% url 'core:new_facultad' %}">Nueva Facultad</a>
<a href="{% url 'core:new_course' %}">Nuevo Curso</a>
<a href="{% url 'core:new_teacher' %}">Nuevo Profesor</a>

<br>
{% block content %}
{% endblock %}
</body>
</html>